// Colors
$dark-blue: #2D3947
$grey: #333333
$blue: #028FCC
$primary: $dark-blue

$fa-font-path: '../node_modules/sass-font-awesome/fonts'

@import '../node_modules/bulma/bulma'
@import '../node_modules/sass-font-awesome/font-awesome'

@font-face
  font-family: 'cookieregular'
  src: url('../fonts/cookie-regular-webfont.woff2') format('woff2'), url('../fonts/cookie-regular-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal


.navbar-bg
  background-color: $dark-blue
  .nav
    background-color: $dark-blue
  .title
    color: white
    font-weight: 600

.twitter
  color: #55acee !important

.github
  color: black !important

html
  font-size: 14px

// Needed otherwise iframes show a disabled scrollbar
html,
body
  overflow-y: auto
  overflow-x: hidden

.hero-body
  padding: 1rem

h2.subtitle
  font: 400 50px/0.8 'cookieregular', Helvetica, sans-serif
  color: #fff
  text-shadow: 4px 4px 3px rgba(0,0,0,0.4)

.sample-viewer
  width: 100%
  box-shadow: 0px 0px 2px $purple

// Add style for Title inside tiles
.tile
  .title
    a
      color: $blue
      &:hover
        color: $dark-blue
